
    <!-- Footer Starts here -->
    <footer class="footer section">
        <div class="quicklinks">
            <h2 class="title">
                Quick Links
            </h2>
            <a href="#features" class="link">
                Courses
            </a>
            <a href="#Apps" class="link">
                About
            </a>
            <a href="#security" class="link">
                Blog
            </a>
           

        </div>

        <div class="community">
            <h2 class="title">
                Community
            </h2>
            <a href="" class="link">
                Twitter
            </a>
            <a href="" class="link">
                Instagram
            </a>
            <a href="" class="link">
                Facebook
            </a>
            <a href="" class="link">
                Telegram
            </a>

        </div>

        <div class="documents">
            <h2 class="title">
                Documents
            </h2>
            <a href="" class="link">
                Privacy Policy
            </a>
            <a href="" class="link">
                Terms and Conditions
            </a>
            <a href="" class="link">
                Legal Terms
            </a>

        </div>

        <div class="Copyright">
            © TubeCurate
            <span>{{ currentYear }}</span><br> All Rights Reserved.
        </div>

        





    </footer>

